<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			table.earningswhisper {
				background-color: #eeeeee;
    			border-radius: 25px;
				padding: 2px; 
    			width: 200px;
    			height: 150px; 
			}
		</style>
	</head>
	<body>
		<h1>Placeholder</h1>
		{% for date in earnings_data %}
			<h3> {{ date }} </h3>
			<span>
			{% for report in earnings_data[date] %}
			
				<table class="earningswhisper">
					<th colspan="2">
						{{ report.company }}
					</th>
					<tr>
						<td>
							<a colspan="2" href="../{{ report.ticker }}">{{ report.ticker }}</a>
						</td>
						<td style="text-align:center">
							{% if  report.confirmed != "Unconfirmed"  %}
								&#x2714;
							{% else %}
								?
							{% endif %}
						</td>
					</tr>
					<tr>
						<td>{{ report.estimated_eps }}</td>
						<td>{{ report.estimated_revenue }}</td>
					</tr>

					<th colspan="2">
						{{ report.time }}
					</th>	
				</table>			
			
			{% endfor %}
			</span>
			<br>
		{% endfor %}
	</body>
</html>